header {
/ / font-family: "serif";
}

h2 {
    margin-bottom: 10px;
}

.header table tr td {
    font-size: 14px;
    padding-right: 10px;
    padding-bottom: 5px;
}

.header table tr td:first-child {
    font-weight: 600;
}

.invoice_body {
    padding-top: 20px;
    text-align: center;
}

.invoice_body h1 {

    margin-bottom: 20px;
}

.invoice_body table {
    font-size: 14px !important;
    margin: 0 auto;
    width: 100%;
}

.invoice_body table td,
.invoice_body table th {
    /*margin: 0 20px;*/
    text-align: center;
}

.invoice_body table td:first-child,
.invoice_body table th:first-child {
    margin-left: 0;
    width: 20%;
}

.invoice_body table td:last-child,
.invoice_body table th:last-child {
    margin-right: 0;
}

.invoice_body table th:first-child,
.invoice_body table td:first-child {
    width: 40%;
}

.invoice_body table td {
    padding-top: 10px;
}

.invoice_warranty {
    margin-top: 40px;
    font-size: 12px;
}

ul {
    padding-left: 40px;
}

li {
    list-style: disc;
}